.circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #0D6EFD;
  color: #fff;
  padding-top: 2%;
  margin: 3% auto;
}

.purple{
  background-color: #0D6EFD;
}

.fnt-size-5{
  font-size: 5em;
}

/* RIbbon */
.ribbon {
  /* width: 150px; */
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 63%;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 0.8em 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
/* * bottom right*/ */
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}

.ribbon-bottom-right span {
  left: 52%;
  bottom: 11%;
  transform: rotate(-39deg);
}
@media (min-width: 330px) { 
  .ribbon {
    width: 70%;
    height: 100%;
    margin-left: 30%;
  }
  .ribbon span {
    width: 88%;
  }
  .ribbon-bottom-right span {
    left: 41%;
    bottom: 8%;
  }
}
@media (min-width: 576px) { 
  .ribbon span {
    width: 88%;
  }
  .ribbon-bottom-right span {
    left: 41%;
    bottom: 8%;
  }
}
@media (min-width: 768px){ 
  .ribbon span {
    width: 90%;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) { 
  .ribbon span {
    width: 95%;
  }
}

@media (min-width: 1200px) { 
  .ribbon span {
    width: 76%;
  }
  .ribbon-bottom-right span {
    left: 50%;
    bottom: 14%;
  }
}

